../../.CFUserTextEncoding
../../.DS_Store
../../.Trash/
../../.atom/
../../.aws/
../../.cache/
../../.config/
../../.docker/
../../.eclipse/
../../.gitconfig
../../.lesshst
../../.npm-global/
../../.npm/
../../.npmrc
../../.ssh/
../../.viminfo
../../.vscode/
../../.yarnrc
../../.zsh_history
../../.zsh_sessions/
../../Applications/
../../Creative Cloud Files/
../../Desktop/
../../Documents/
../../Downloads/
../../Google Drive
../../Library/
../../Movies/
../../Music/
../../Pictures/
../../Public/
../../codegen.yml
../
../../go/
../../language-toml@0.20.0
../../main
../../main.go
../../node_modules/
../../package-lock.json
../../package.json
../../portfolio/
../../uninstall
../../work/
../../yarn.lock
../../yarn.profile
